@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: outfit;
}
select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #7b00ff52; 
    border-radius: 4px;
}
.active{
    background-color:  #d4d2d23d;
    border-color: #7b00ff52;
}